body{
    padding: 0px;
    margin: 0px;
    background-color: white;
}
#ball{
  
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    
}